:root {
  --overlay-bg-color: rgba(0, 0, 0, 0.5);
  --container-bg-color: white;
  --container-padding: 20px;
  --container-border-radius: 10px;
  --selected-image-height: 70vh;
  --thumbnail-height: 100px;
  --thumbnail-margin-right: 10px;
}

.btn {
  transition: transform 0.3s ease-in-out;
  border: transparent;
}

.galleria-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-galleria {
  opacity: 0;
  touch-action: none;
}

.galleria-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--container-padding);
  border-radius: var(--container-border-radius);
}

.selected-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.selected-image {
  height: var(--selected-image-height);
  object-fit: contain;
  border: black solid 10px;
}

.thumbnail-navigation {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 20px; /* Adjust as needed */
}

.thumbnail-reel {
  background-color: rgba(0, 0, 0, 0.75);
}

.thumbnail {
  height: var(--thumbnail-height);
  border: '4px solid rgba(0, 0, 0, 0.75)'
}

.thumbnail:last-child {
  margin-right: 0;
}

.delete-btn, 
.keep-btn {
  z-index: 1;
}

.nav-button {
  z-index: 0;
}

.nav-button.left {
  margin-right: 7px;
  margin-left: 7px;
  height: var(--thumbnail-height);
}

.nav-button.right {
  margin-right: 7px;
  margin-left: 7px;
  height: var(--thumbnail-height);
}
